<div class="home hero">
    <div class="container">
        <img src="/img/hero-images/home-hero-dark.jpg" alt="">
        <blockquote class="wow fadeInDown animated">
            <p>And the disciplines that underpin STEM would be strong and taught with inspiration by teachers who are supported to keep abreast of their field</p>
            <footer>— <cite>Australia's Chief Scientist Professor Ian Chubb AC, National Press Club address, July 31, 2013</cite></footer>
        </blockquote>
    </div>
</div>