<a class="v-nav-toggle">Menu</a>
<nav class="vertical-nav">
    <ul>
        <li><a href="/outcomes/" {% if page.url == "/outcomes/" %}class="current"{% endif %}>Overview</a></li>
        <li><a href="">New study options</a>
            <ul>
                <li><a href="" {% if page.url == "" %}class="current"{% endif %}>Schools science project</a></li>
                <li><a href="" {% if page.url == "" %}class="current"{% endif %}>Engaging with practices of contemporary science</a></li>
                <li><a href="" {% if page.url == "" %}class="current"{% endif %}>Maths Pathways</a></li>
                <li><a href="" {% if page.url == "" %}class="current"{% endif %}>MTeach specialisations</a></li>
                <li><a href="" {% if page.url == "" %}class="current"{% endif %}>Science in Schools</a></li>
            </ul>
        </li>
        <li><a href="/additional-experiences/" {% if page.url == "/additional-experiences/" %}class="current"{% endif %}>Additional Experiences</a>
            <ul>
                <li><a href="/outcomes/additional-experiences/back-to-school/" {% if page.url == "/outcomes/additional-experiences/back-to-school/" %}class="current"{% endif %}>Back to school</a></li>
                <li><a href="/outcomes/additional-experiences/discovery-stem-initiative/" {% if page.url == "/outcomes/additional-experiences/discovery-stem-initiative/" %}class="current"{% endif %}>Discovery STEM initiative</a></li>
            </ul>
        </li>
        <li><a href="/exemplars/" {% if page.url == "/exemplars/" %}class="current"{% endif %}>Exemplars and resources</a></li>
    </ul>
</nav>