/*** layout ***/

.center {
    margin-left: auto;
    margin-right: auto;
}
.container {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1140px;
    @include clearfix;
}
.row {
    @include row();
}
.span4 {
    @include span-columns(4);
}
.span8 {
    @include span-columns(8);
}
@media only screen and (min-width: em(1140)) {
.shift3 {
    @include shift(3);
}
.shift4 {
    @include shift(4);
}
}
.narrow.container {
    max-width: 1000px;
}
.middle.container {
    max-width: 835px;
}
.flex {
    display: flex;
}
.flex-align-center {
    align-items: center;
}
.inset {
    padding: 1em 0;
    background: #B0E8DC;
    box-shadow: inset 0 8px 8px -8px #696868, inset 0 -8px 8px -8px #696868;
}
.clear {
    clear: both;
}
@media only screen and (min-width: em(600)) {
    .half {
        width: 50%;
        float: left;
        &.centered {
            float: none;
            margin: 0 auto;
        }
    }
    .two-fifths {
        width: 40%;
        float: left;
    }
    .three-fifths {
        width: 60%;
        float: left;
    }
}
@media only screen and (min-width: em(640)) {
    .two-thirds {
        width: 2/3*100%;
        float: left;
        padding-right: 30px;
    }
    .one-third {
        width: 1/3*100%;
        float: left;
    }
    .five-twelths {
        width: 5/12*100%;
        float: left;
    }
    .seven-twelths {
        width: 7/12*100%;
        float: left;
    }
}
.two-max.container {
    @media only screen and (min-width: em(600)) {
        display: flex;
        flex-wrap: wrap;
        > div {
            @include clearfix;
            float: left;
            width: 1/2*100% - 1/2*100%/20;
            margin-right: 1*100%/20;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }
}
.three-max.container {
    @media only screen and (min-width: em(480)) {
        display: flex;
        flex-wrap: wrap;
    }
    > div {
        @media only screen and (min-width: em(600)) {
            float: left;
            width: 1/2*100% - 1/2*100%/20;
            margin-right: 1*100%/20;
            &:nth-child(2n) {
                margin-right: 0;
            }
            &:nth-child(2n+1) {
                clear: left;
            }
        }
        @media only screen and (min-width: em(800)) {
            width: 1/3*100% - 1/3*2*100%/20;
            &:nth-child(2n) {
                margin-right: 1*100%/20;
            }
            &:nth-child(2n+1) {
                clear: none;
            }
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(3n+1) {
                clear: left;
            }
        }
    }
}
.card {
    position: relative;
    background: $lightgreen;
    padding-bottom: 3em;
    margin: 2em 0;
    header {
        img {
            width: 100%;
        }
    }
    .content {
        margin: 20px;
        h2 {
            font-size: 1.2em;
            margin: 1em 0;
        }
    }
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 0 20px;
        text-align: right;
    }
}
.more-link {
    &:after {
        content: "\f054";
        font-family: FontAwesome;
        margin-left: .5em;
        vertical-align: middle;
        color: $linkblue;
    }
}