.innovation-callout span {
  display: inline-block;
  background: #e84b3c;
  text-align: center;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  line-height: 3em;
  margin: 0;
  color: #fff; }
.innovation-callout p {
  font-size: 0.875em;
  border: 2px solid #f8c9c5;
    background: #fff;
  border-radius: 3px;
  margin: -1.5em 1.5em 2em 1.5em;
  padding: 1.5em; }