.row {
    @include row;
}
.page-summary {
    background: #FDEEED;
    padding: 1em;
    margin: 2em 0;
}
.overview,
.innovation-list {
    @include span-columns(6);
    @include pad(1em);
}
.overview {
    p {
        font-size: 1.6em;
        margin-top: 0;
    }
}
.innovation-list {
    p {
        margin-top: 0;
    }
    .innovation-callout {
        @include span-columns(6);
    }
}