.overview {
    background: $green;
    h2 {
        display: inline-block;
        font-size: 1.2em;
        margin-left: 20px;
        padding: 0.5em 1em;
        background: white;
        color: $green;
        font-weight: 300;
    }
    ul {
        padding: 0;
        li {
            color: white;
            border-bottom: 1px solid white;
            list-style: none;
            padding: 0.8em 20px;
            margin: 0;
        }
    }
}